/* .nav-container{ */
/* background-color: white; */
/* height: 100vh;
width: 100%;
display: flex;
justify-content: space-evenly;
} */
 img{
    width: 90px;
    height: 60px;
    /* margin: 20px; */
    margin-left: -250px;
    margin-bottom: 20px;

}
body{
    background-image: url(../images/home\ backgroung.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300vh;
}

.header {
    display: flex;
    justify-content: space-around;
    /* background-color: white;
    margin: 20px; */
}

nav ul{
    display: flex;
    justify-content: space-between;
    gap: 50px; 
    flex-direction: row;
  background-color: white;
  margin: 20px;
  padding: 10px;
  list-style: none;
  border-radius: 10px;
  height: 20px;
  
}
.header a{
    text-decoration: none;
}
.logo{
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
}
.hello{
    color: white;
    margin-left: 60px;
    margin-top: 100px;
    width: 40%;


}

.perfume1{
    width: 250px;
    height: 250px;
    margin-left: 30px;
    padding-top: 30px;
}
.ada{
    display: flex;
    padding: 50px;
    
    
}
.notes{
    color: white;
    font-size: 40px;
}
