header{
    background-image: url(../images/WhatsApp\ Image\ 2024-11-20\ at\ 10.36.01\ AM\ \(1\).jpeg);
height: 300px;
width: 100%;
background-size: cover;
background-repeat: no-repeat;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: blanchedalmond;
    margin-top: 50px   ;
}

nav ul{
    justify-content: space-around;
}